In [44]:
import json
import pandas
import urllib.request
import datetime
import numpy
from pandas.io.json import json_normalize

URL = 'https://services.arcgis.com/su8ic9KbA7PYVxPS/arcgis/rest/services/Aggregate_Reported_Cases/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [3]:
body = urllib.request.urlopen(URL).read()

In [4]:
parsed_body = json.loads(body)

In [5]:
df = pandas.json_normalize(parsed_body,record_path=['features'])

In [6]:
df.columns = df.columns.str.replace('attributes.', '')

In [7]:
df

,Id_Str,Date,Total,New_Cases,Old_Cases,Source,Date_Label,Date_Str,Date_Updated,Today
0,1,1583384400000,2,2,0,HCTX,03-05-2020,2020-03-05,1616976000000,2021-03-29
1,2,1583384400000,0,0,0,HOU,03-05-2020,2020-03-05,1616976000000,2021-03-29
2,3,1583384400000,2,2,0,ALL,03-05-2020,2020-03-05,1616976000000,2021-03-29
3,4,1583989200000,2,2,0,HCTX,03-12-2020,2020-03-12,1616976000000,2021-03-29
4,5,1583989200000,0,0,0,HOU,03-12-2020,2020-03-12,1616976000000,2021-03-29
...,...,...,...,...,...,...,...,...,...,...
1141,1142,1616907600000,600,247,353,HOU,03-28-2021,2021-03-28,1616976000000,2021-03-29
1142,1143,1616907600000,1005,623,382,ALL,03-28-2021,2021-03-28,1616976000000,2021-03-29
1143,1144,1616994000000,186,179,7,HCTX,03-29-2021,2021-03-29,1616976000000,2021-03-29
1144,1145,1616994000000,0,0,0,HOU,03-29-2021,2021-03-29,1616976000000,2021-03-29
1145,1146,1616994000000,186,179,7,ALL,03-29-2021,2021-03-29,1616976000000,2021-03-29

In [54]:
source = df['Source'].to_numpy()

In [57]:
source2 = source

In [58]:
source_unique = numpy.setdiff1d(source, source2, assume_unique=False)

In [59]:
source_unique

array([], dtype=object)

In [94]:
source_list = set(df['Source'].tolist())

In [105]:
source_list2 = set(['HCTX',
 'ALL',
 'AUS'])

In [106]:
source_list3 = set(['HCTX',
 'HOU',
 'DFW'])

In [107]:
source_list4 = set(['HOU',
 'ALL',
 'SA'])

In [115]:
sources = source_list2.union(source_list3, source_list4)

In [116]:
sources

{'ALL', 'AUS', 'DFW', 'HCTX', 'HOU', 'SA'}

In [85]:
check_source_list = set(source_list2).difference(set(source_list))

In [119]:
check_source_list3 = sources.difference(source_list)

In [120]:
check_source_list3

{'AUS', 'DFW', 'SA'}

In [73]:
source_list_unique = (set(source_list2) - set(source_list))

In [74]:
source_list_unique

{'AUS'}

In [8]:
df.dtypes

Id_Str           int64
Date             int64
Total            int64
New_Cases        int64
Old_Cases        int64
Source          object
Date_Label      object
Date_Str        object
Date_Updated     int64
Today           object
dtype: object

In [38]:
date = df['Date']

In [39]:
date = date.replace('00000','')

In [40]:
date

0      1970-01-01 00:26:23.384400
1      1970-01-01 00:26:23.384400
2      1970-01-01 00:26:23.384400
3      1970-01-01 00:26:23.989200
4      1970-01-01 00:26:23.989200
                  ...
1141   1970-01-01 00:26:56.907600
1142   1970-01-01 00:26:56.907600
1143   1970-01-01 00:26:56.994000
1144   1970-01-01 00:26:56.994000
1145   1970-01-01 00:26:56.994000
Name: Date, Length: 1146, dtype: datetime64[ns]

In [41]:
date = pandas.to_datetime(date)

In [42]:
date

0      1970-01-01 00:26:23.384400
1      1970-01-01 00:26:23.384400
2      1970-01-01 00:26:23.384400
3      1970-01-01 00:26:23.989200
4      1970-01-01 00:26:23.989200
                  ...
1141   1970-01-01 00:26:56.907600
1142   1970-01-01 00:26:56.907600
1143   1970-01-01 00:26:56.994000
1144   1970-01-01 00:26:56.994000
1145   1970-01-01 00:26:56.994000
Name: Date, Length: 1146, dtype: datetime64[ns]

In [28]:
df['Date'] = pandas.to_datetime(df['Date'])

AttributeError: 'Series' object has no attribute 'removesuffix'

In [11]:
df['Date']

0      1970-01-01 00:26:23.384400
1      1970-01-01 00:26:23.384400
2      1970-01-01 00:26:23.384400
3      1970-01-01 00:26:23.989200
4      1970-01-01 00:26:23.989200
                  ...
1141   1970-01-01 00:26:56.907600
1142   1970-01-01 00:26:56.907600
1143   1970-01-01 00:26:56.994000
1144   1970-01-01 00:26:56.994000
1145   1970-01-01 00:26:56.994000
Name: Date, Length: 1146, dtype: datetime64[ns]

In [49]:
df = df.rename(columns={'Today': 'date_updated'})

In [50]:
df.columns

Index(['OBJECTID', 'Date', 'Total', 'New_Cases', 'Old_Cases', 'Source',
       'Date_Label', 'Date_Str', 'Date_Updated', 'date_updated'],
      dtype='object')

In [51]:
df

,OBJECTID,Date,Total,New_Cases,Old_Cases,Source,Date_Label,Date_Str,Date_Updated,date_updated
0,1,1970-01-01 00:26:23.384400,2,2,0,HCTX,03-05-2020,2020-03-05,1615680000000,2021-03-15
1,2,1970-01-01 00:26:23.384400,0,0,0,HOU,03-05-2020,2020-03-05,1615680000000,2021-03-15
2,3,1970-01-01 00:26:23.384400,2,2,0,ALL,03-05-2020,2020-03-05,1615680000000,2021-03-15
3,4,1970-01-01 00:26:23.989200,2,2,0,HCTX,03-12-2020,2020-03-12,1615680000000,2021-03-15
4,5,1970-01-01 00:26:23.989200,0,0,0,HOU,03-12-2020,2020-03-12,1615680000000,2021-03-15
...,...,...,...,...,...,...,...,...,...,...
1096,1097,1970-01-01 00:26:55.611600,597,422,175,HOU,03-13-2021,2021-03-13,1615680000000,2021-03-15
1097,1098,1970-01-01 00:26:55.611600,1143,878,265,ALL,03-13-2021,2021-03-13,1615680000000,2021-03-15
1098,1099,1970-01-01 00:26:55.698000,229,138,91,HCTX,03-14-2021,2021-03-14,1615680000000,2021-03-15
1099,1100,1970-01-01 00:26:55.698000,0,0,0,HOU,03-14-2021,2021-03-14,1615680000000,2021-03-15
1100,1101,1970-01-01 00:26:55.698000,229,138,91,ALL,03-14-2021,2021-03-14,1615680000000,2021-03-15

AttributeError: 'DataFrame' object has no attribute 'result'